{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block main %}

  <br><br><br>
  <section class="about" >
    <div class="container">
      <div class="row">
        <div class="col-lg-5 font-left ">
          <div class="sec-heading">
            <span class="tagline">CONTACT US</span>
            <h5>Remember us for all kind of services</h5>
            <br><br><br>
            <p><em><b>Address</b></em>:Tokha Road, Next to Grande Hospital</p>
            <p><em><b>Opening Hrs</b></em>:10am-8pm</p>
            <p><em><b>Email</b></em>:Touchofbeauty@gmail.com</p>
            <p><em><b>For Queries</b></em>:9873482432</p>
          </div>
        </div>
        <div class=" offset-col-lg-5 col-md-5"> 
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.41554845244!2d85.
          31612611374462!3d27.735326130871474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e
          b1926af3de3a5%3A0x88e304c338236b24!2sTokha%20Road%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1
          618471891922!5m2!1sen!2snp" width="600" height="380"  style="border:0; margin-top:20px;" allowfullscreen=""
           loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}