<footer class="footer">
    <div class="container-fluid">
      <div class=row>
        <div class="col-12 text-center">
          <a href="index.html" class="logo foo-logo" >
            <img src="/static/images/logo.jpg" style="height:20%" alt="logo">
          </a>
          <nav class="nav-home">
            <ul>
              <li class="abc" style="display:inline-block;"><a href="/home">Home</a></li>
              <li class="abc" style="display:inline-block;"><a href="/about">About</a></li>
              <li class="abc" style="display:inline-block;"><a href="/services">Services</a></li>
              <li class="abc" style="display:inline-block;"><a href="/contact">Contact</a></li>
            </ul>
          </nav>
          <div class="foo-social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <p class="copyright">&copy; COPYRIGHT 2021 ALL RIGHTS RESERVED </p>
        </div>
      </div>
    </div>
  
  </footer>