{% extends 'base-admin.html' %}
{% load bootstrap %}
{% block title %}
<title>Update Service</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">

        <div class="col-md-8 offset-md-2">
            <br><br><br><br><br>
            <h1 class="text-center">Update New Service</h1>
            <div class="card py-2 px-2">
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form | bootstrap_horizontal }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}